
.background{
    background-color: #3a4965;
    padding: 25px;
    height: 100vh;
   }

.container{
    width: calc(100% - 25px);
    height: calc(100% - 25px);
    margin:  auto;
    font-family: 'Arimo', sans-serif;
}



.table-style{
    border: 3px solid #dadada;
    }

.white-background{
    background-color: white;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}

.main-text1{
    padding-top: 100px;
}

.main-text{
    display: block;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 100px;
}

.standard-background{
    color: white;
    background-color: #89c331;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
}

.big-numeral{
    position: relative;
    font-size: 60px;
}

.small-number{
    position: absolute;
}

.ultimate-background{
    color: white;
    background-color: #f04a56;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}

.premium-background{
    color: white;
    background-color: #20807c;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}

.fa-archive{
    font-size: 24px;
    margin-right: 20px;
}

.gray-item {
    background-color: #f2f2f2;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
}

.fa-cloud-download-alt{
    font-size: 24px;
    margin-right: 20px;
}

.dark-gray-item {
    background-color: #e3e3e3;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
}

.fa-envelope{
    font-size: 24px;
    margin-right: 20px;
}

.fa-life-ring{
    font-size: 24px;
    margin-right: 20px;
}

.fa-cube{
    font-size: 24px;
    margin-right: 20px;
}
.fa-users {
    font-size: 24px;
    margin-right: 20px;
}

.button-contactsus{
    width: 190px;
    height: 50px;
    background-color: #484848;
    color: white;
    border-radius: 6px;
    margin: 30px 60px;
}

.button-buynow-standart{
    width: 190px;
    height: 50px;
    background-color: #89c331;
    color: white;
    border-radius: 6px;
    margin: 30px 60px;
}

.button-buynow-ultimate{
    width: 190px;
    height: 50px;
    background-color: #f04a56;
    color: white;
    border-radius: 6px;
    margin: 30px 60px;
}

.button-buynow-premium{
    width: 190px;
    height: 50px;
    background-color: #20807c;
    color: white;
    border-radius: 6px;
    margin: 30px 60px;
}
.button:hover{
    font-size: 20px;
}

tr:first-child{
    width: 400px;
}