
#text {
    font-size: 12px;
}

.header {
    height: 37px;
    background-color: #373c3f;
    display: flex;
    justify-content: space-between;
}

.drop-menu {
    width: 40px;
    background-image: url("../img/drop_menu.png");
}

.drop-menu:hover {
    width: 40px;
}

.nav {
    font-size: 12px;
    color: white;
    margin: auto 20px;
}

.menu {
    display: none;
}

.header-fon {
    height: 173px;
    background-image: url(../img/header-fon320.png);
    background-size: cover;
}

.text_header_fon {
    color: white;
    font-size: 16px;
    padding: 20px 19px;
}

.web-site {
    font-size: 14px;
    color: #a6d6e0;
    padding-left: 20px;
}

.text-menu {
    margin: 50px;
}

.pizza {
    background-image: url(../img/pizza_delivery320.png);
    background-size: cover;
    height: 75px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.salad {
    background-image: url(../img/ua_ux_alads.png);
    background-size: cover;
    height: 75px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.desserts {
    background-image: url(../img/desserts.png);
    background-size: cover;
    height: 75px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.price-menu {
    display: flex;
    justify-content: center;
}

.text-price {
    font-size: 20px;
    margin-top: 25px;
}

.text-price-menu {
    opacity: 0.5;
    font-size: 13px;
}


.first-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 40px;
    width: 100%;
    background-color: #373c3f;
    color: #acd8ad;
    font-size: 20px;
}

.second-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    height: 40px;
    width: 100%;
    background-color: #acd8ad;
    color: white;
    font-size: 20px;
}

.cold-hot {
    display: flex;
    margin: 10px 5px 15px 10px;
}

.cold {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;

}

.price {
    display: flex;
}

.cold-price {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
}

.content-menu {
    margin: 10px;
}

.content-menu-text {
    width: 320px;
}

.last-line {

    background-color: #acd8ad;
    text-align: center;
    color: white;
    width: 100%;
    margin-top: 50px;
    padding: 20px;
}

.logo {
    display: none;
}

@media (min-width: 640px) {
    .header-fon {
        background-image: url(../img/header-fon640.png);
        height: 346px;
    }

    .text_header_fon {
        font-size: 36px;
    }

    .web-site {
        font-size: 24px;
    }

    .text-menu {
        font-size: 36px;
    }

    .pizza {
        background-image: url(../img/pizza_delivery640.png);
        height: 150px;
    }

    .salad {
        background-image: url(../img/UA_UX640.png);
        height: 150px;
    }

    .desserts {
        background-image: url(../img/desserts640.png);
        height: 150px;
    }

    .more_inf {
        height: 150px;
    }

    .text-price {
        font-size: 26px;
        text-align: center;
    }


    .first-paragraph {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .second-paragraph {
        width: 100%;
    }

    .cold {
        width: 100%;
    }

    .cold-price {
        font-size: 27px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .content-menu-text {
        font-size: 18px;
    }

    .price {
        display: flex;
    }

    .last-line {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .menu-flex {
        justify-content: center;
    }
}



@media (min-width: 1200px) {
    .header {
        height: 100px;
    }

    .drop-menu {
        display: none;
    }

    .nav {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 700px;
    }

    .menu-item {
        text-decoration: none;
        color: white;
        margin: 20px;
    }

    .text_header_fon {
        color: white;
        font-size: 62px;
        padding: 60px 50px;
    }

    .web-site {
        font-size: 38px;
        color: #a6d6e0;
        padding-left: 60px;
    }

    .more_inf {
        display: none;
    }

    .menu-section {
        display: flex;
    }

    .pizza {
        width: 100%;
        height: 400px;
        background-size: cover;
    }

    .salad {
        width: 100%;
        height: 400px;
        background-size: cover;
    }

    .desserts {
        width: 100%;
        height: 400px;
        background-size: cover;
    }

    .price-menu {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        display: flex;
    }

    .menu-flex {
        display: flex;
        justify-content: space-around;
        width: 1200px;
    }

    .price-menu {
        display: flex;
        justify-content: space-around;
    }

    .last-line {
        width: 100%;
        margin: 0;
    }
}