#change-bgc{
    color: white;
    background-color: cornflowerblue;
    border-radius: 50%;
    font-size: 20px;
    margin-left: 150px;
}

#bgc-change-back{
    color: white;
    background-color: cornflowerblue;
    border-radius: 50%;
    font-size: 20px;
    margin-left: 150px;
}

.background{
background: url("../img/background.png")no-repeat;
    background-size: cover;
}
.container{
    width: 1060px;
    margin: 0 auto;
    }

.logo-contacts {
    margin-bottom: 49px;
}



.link{
    display: inline-block;
    width: 300px;
    margin-top: 49px;
   }

.link:hover img{
    content: url("../img/logo-orange.png");
}


.logo-link{
    color: white;
    font-size: 29px;
    font-family: "Verdana", sans-serif;
    font-weight: 700;
}

.logo-img{
    float: left;
    margin-right: 15px;
    }



.logo-text{
    font-size: 18px;
}

.contacts {
width: 250px;
font-size: 18px;
text-align: right;
color: white;
float: right;
margin-top: 57px;
}


.products{
    display: inline-block;
    }

.shopping{

    text-decoration: none;
    width: 307px;
    height: 240px;
    float: left;
    text-align: center;
    position: relative;
}

.sighseeing {
    margin-left: 69px;
    text-decoration: none;
    width: 307px;
    height: 240px;
    float: left;
    text-align: center;
position: relative;
}

.price{
    font-size: 10px;
    color: white;
    font-family: 'Verdana',sans-serif;
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
}

.price-one{
    font-size: 20px;
    color: white;
    font-family: 'Verdana',sans-serif;
    text-align: left;
    margin-left: 20px;
}

.details{
    font-size: 14px;
    color: white;
    font-family: 'Verdana';
    text-align: right;
    margin-right: 20px;
}

.orange-block{
    width: 308px;
    height: 63px;
    background-color: #f26522;
    position: absolute;
    bottom: 40px;
    opacity: 0;
}
.link_test:hover .orange-block{
    opacity: 1;
}
.food{
margin-left: 68px;
text-decoration: none;
width: 307px;
height: 240px;
float: left;
text-align: center;
}

.bars{
text-decoration: none;
width: 307px;
height: 240px;
text-align: center;
float: left;
    margin-top: 98px;
}

.art{

text-decoration: none;
width: 307px;
height: 240px;
float: left;
text-align: center;
margin-left: 69px;
margin-top: 98px;
}

.walking{
text-decoration: none;
width: 307px;
height: 240px;
float: left;
text-align: center;
margin-left: 69px;
margin-top: 98px;
}

.orange:hover{
color: #f26522;
}



.white-text{
color: white;
font-size: 18px;
font-family: 'Verdana', sans-serif;
}

.last-text{
font-size: 12px;
font-family: 'Verdana', sans-serif;
color: white;
text-align: center;
margin-top: 61px;
}

a{
text-decoration: none;
}






