.container{
    height: 200px;
    width: 400px;
    margin: 0px auto;
    background-color: pink;
}
.form{
    padding: 50px;
}

#remove{
    color: red;
    border-radius: 10px;
}

#price-decoration{
    color: white;
    font-size: 24px;
}
#price{
    display: inline-block;
}
#form-price{

}

#shadow-price1{
    display: none;
    border-radius: 10px;
}