.background{
    background: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;


}

.container{
    width: 444px;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
    transform: translate(-10px,100px);

}

.head{
    background: rgba(0,0,0,0.5);
   height: 56px;
    display: flex;
}

.head-text{
    width: 90%;
    height: 56px;
    font-family: Verdana, sans-serif;
    text-align: center;
}

.journey-link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    margin-top: 20px;
}

.items{
    display: inline-flex;
    text-align: center;
    width: 50%;
    margin-top: 20px;
}

.journey-items{
    display: inline-block;
    margin-right: 20px;

}

.bg-caledar {
    width: 19px; height: 19px;
    background: url('../img/css_sprites_white.png') -10px -10px;
}

.bg-forum {
    width: 28px; height: 20px;
    background: url('../img/css_sprites_white.png') -89px -10px;
}

.bg-journey {
    width: 20px; height: 20px;
    background: url('../img/css_sprites_white.png') -49px -10px;
}

.bg-line {
    width: 1px; height: 19px;
    background: url('../img/css_sprites.png') -10px -10px;
}

.bg-facebook {
    width: 10px; height: 20px;
    background: url('../img/css_sprites1.png') -10px -10px;
}

.bg-G {
    width: 25px; height: 16px;
    background: url('../img/css_sprites1.png') -40px -10px;
}

.bg-caledar-green:hover{
    width: 19px; height: 19px;
    background: url('../img/caledar-green.png') 0px 0px;
}

.bg-forum-green:hover{
    width: 28px; height: 20px;
    background: url('../img/forum-green.png') -56px 0px;
}

.bg-journey-green:hover {
    width: 20px; height: 20px;
    background: url('../img/journe-green.png') -60px 0px;
}

.enter{
    color: white;
    text-decoration: none;

}

.form-login{
    background: white;
    border-radius: 10px;
    text-align: center;

}

.green-square{
    width: 18px;
    height: 18px;
    background: #3cb878;
    margin-left: -20px;
    position: absolute;
}

/*.main-form{*/
/*    width: 345px;*/
/*    height: 584px;*/
/*    margin: 50px;*/

/*}*/

.main-form-text{
    font-size: 20px;
    font-family: Verdana,sans-serif;


}

.main-form-text-2{
    color: #3cb878;
    margin-left: 210px;
}

.fb-button{
    display: inline-block;
    width: 150px;
    height: 46px;
    background-color: blue;
    margin-top: 15px;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 10px;
}

.fb-img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 35px;
}

.fb-text{
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-family: Verdana,sans-serif;
}

.google-button{
    display: inline-block;
    width: 150px;
    height: 46px;
    background-color: #c3412c;
    margin-top: 15px;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 10px;
}

.google-img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}

.google-text{
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-family: Verdana,sans-serif;
}

.line{
    width: 137px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 25px;
    margin-top: 37px;

}

.line-2{
    width: 135px;
    display: inline-block;
    margin-left: 25px;
    margin-top: 37px;
    vertical-align: bottom;
}

.form-name {
    width: 90%;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    margin-top: 10px;
}



.checkbox input[type=checkbox]{
    margin-top: 20px;
    opacity: 0;
}


.checkbox label{
position: relative;
    margin-left: 35px;
    display: list-item;

}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";
    display: inline-block;
}

.checkbox label:before{
content: '';
display: inline-block;
height: 16px;
width: 16px;
border: 1px solid #eaeaea;
left: 0;
top: 14px;
}


.checkbox label:after{
content: '';
display: inline-block;
width: 10px;
height: 10px;
border-left: 4px solid #3cb878;
border-bottom: 4px solid #3cb878;
transform: rotate(-45deg);
left: 2px;
top: 14px;

}

.checkbox input[type="checkbox"] + label:after {
    content: none;
}

.checkbox input[type="checkbox"]:checked + label:after {
    content: "";
}



.last-button{
width: 100%;
    height: 50px;
    background:#3cb878;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

.green{
    color: #3cb878;
}
.green-text:hover{
    color: #3cb878;
}

.shadow:focus{
    box-shadow: 0 0 5px;
    font-weight: 700;
}





