body{
    margin: 0;
    padding: 0;
}
.container{
width: 1280px;
    margin: 0 auto;
}
.name-link{
    text-decoration: none;
font-size: 90px;
    color: black;
}
.blue-text-header{
    color: #4bcaff;
}

.menu{
    width: 1280px;
    height: 70px;
    background-color: #35444f;
    margin-top: 20px;
    text-align: center;

}
.nav{
    display: inline-block;
    }

.nav-menu{
    text-decoration: none;
    color: white;
    font-size: 24px;
    display: inline-block;
    padding: 25px;
}
.next-menu{
    width: 345px;
    height: 400px;
    border: 1px solid #35444f;
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
}

.next-nav-menu{
  text-decoration: none;
    color: #35444f;
    font-size: 30px;
    padding: 20px;
    display: inline-block;

}
.main-image{
    width: 850px;
    height: 490px;
    border: 1px solid #35444f;
    display: inline-block;
    margin: 50px 0 0 75px;
    text-align: center;
    padding-top: 100px;

}

.image{
    width: 280px;
    height: 340px;

}
.text-block{
    width: 820px;
    margin-left: 450px;
}
.text{
    padding-top: 50px;
    text-align: left;
}
.last-menu{
    width: 1280px;
    height: 69px;
    background-color: #b4b7ba;
    margin-top: 200px;
    text-align: left;
}
.text-last-menu{
    text-decoration: none;
    font-size: 28px;
    color: #0c1927;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}
.footer-copy{
    font-size: 24px;
    padding-left: 220px;
display: inline-block;
vertical-align: middle;
}
 .style:hover{
     background: #fff;
     color: #4bcaff;

      }
 .style-second:hover{
     background: #b4b7ba;
     color: #0c1927;
     font-size: 35px;
     width: 305px;
 }
 .style-last:hover{
     color: #3181a6;
     text-decoration: underline;
 }
.style-image:hover{
width: 340px;
    height: 400px;
}